!!!
%html
  %head
    -# %meta{:content:"text/html; charset=UTF-8", "http-equiv":'Content-Type'}/
    %title ChatSpaceSample
    %meta{:name : 'csrf-param', :content : 'authenticity_token'}/
    %meta{:name : 'csrf-token, :content : '''}/
    %link{"data-turbolinks-track":"reload", :media:'all', :media:"all", :rel:"stylesheet" :href:"/assets/application-20597f7122b97f433c4487edf7d6a0cfc9e951e2a661b8b0c7320b95bbd38ccd"}/
    %script{"data-turbolinks-track":"reload", :media:"all", :src:"/assets/application-92a91cf5753a538c5407a46c726acab43576fb46358ffa8a7ee0ee0719aa2f51"}/
  %body 
    .flash-box
      .notice ログインしました。
    .wrapper
      .chat-side
        .side-header
          .side-header__box
          %p.side-header__box__user-name bbb
          %ul.side-header__box
            %li.side-header__box__menu__new-group
              %a{:href:"/groups/new"}
                %i.fa.fa-edit
            %li.side-header__box__menu__edit-user
              %a{:href:"/users/459/edit"}  
                %i.fa.fa-cog 
        .groups