body,body,p {
  margin: 0;
  padding: 0;
}


.flash-box {
  color: white;
  font-size: 1rem;
  font-weight: laughter;
  text-align: center;
  width: 100vw;
  .notice {
    background-color: #38aef0;
  }
}

.wrapper {
  background-color: black;
  .chat-side {
    width: 300px;
    color: white;
    float: left;
  }
   .side-header {
     background-color: #253141;
     height: 100px;
     display: flex;
     align-items: center;
     padding: 0 20px;
     justify-content: space-between;
     width: 100%;
     font-weight: bold;
   }
    .p {
      box-sizing: border-box;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
    .ul {
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
    }
      .li {
        display: list-item;
        text-align: center;
      }
        .a {
          color: white;
          text-decoration: none;
        }
          .fa {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smooothing: antialiased;
          }
   .group {
     height: calc(100vh - 100px);
     background-color: #2f3e51;
     padding: 20ox 20px 0;
     overflow: scroll;
   }   
}